
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Rice Shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={{ time }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand " href="{% url 'catalogue:product_list' %}">Rice Vandar</a>
        <div>
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'catalogue:product_list' %}">Products</a></li>
            {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'accounts:profile' %}">Hi, {{ user.username }}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'accounts:register' %}">Register</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'cart:view_cart' %}">Cart ({{ cart_item_count }})</a></li>
          </ul>
        </div>
      </div>
    </nav>
 <div class="col-md-3">
                <h5>Categories</h5>
                <ul class="list-group">
                    {% for cat in categories %}
                        <li class="list-group-item">
                            <a href="{% url 'catalogue:category_products' cat.id %}">{{ cat.name }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">No categories available</li>
                    {% endfor %}
                </ul>
            </div>
        
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
